<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gas.mapper.GasFeedbackMapper">

    <resultMap type="com.example.gas.domain.GasFeedback" id="GasFeedbackResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="username"    column="username"    />
        <result property="nickname"    column="nickname"    />
    </resultMap>

    <sql id="selectGasFeedbackVo">
        select id, content, del_flag, create_time, create_by, update_time, update_by, username from gas_feedback
    </sql>

    <select id="selectGasFeedbackList" parameterType="com.example.gas.domain.GasFeedback" resultMap="GasFeedbackResult">
        select a.id, a.content, a.del_flag, a.create_time, a.create_by, a.username,b.nickname from gas_feedback a
        left join gas_user b on a.username = b.username

        order by a.create_time desc
    </select>

    <select id="selectGasFeedbackById" parameterType="long" resultMap="GasFeedbackResult">
        <include refid="selectGasFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertGasFeedback" parameterType="com.example.gas.domain.GasFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into gas_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="username != null">username,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="username != null">#{username},</if>
        </trim>
    </insert>

    <update id="updateGasFeedback" parameterType="com.example.gas.domain.GasFeedback">
        update gas_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="username != null">username = #{username},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGasFeedbackById" parameterType="long">
        delete from gas_feedback where id = #{id}
    </delete>

    <delete id="deleteGasFeedbackByIds" parameterType="long">
        delete from gas_feedback where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>