<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gas.mapper.GasProductMapper">

    <resultMap type="com.example.gas.domain.GasProduct" id="GasProductResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="stationId"    column="station_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectGasProductVo">
        select id, name, price, station_id, del_flag, create_time, create_by, update_time, update_by from gas_product
    </sql>

    <select id="selectGasProductList" parameterType="com.example.gas.domain.GasProduct" resultMap="GasProductResult">
        <include refid="selectGasProductVo"/>
        <where>del_flag='0'
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="stationId != null "> and station_id = #{stationId}</if>
        </where>
    </select>

    <select id="selectGasProductById" parameterType="long" resultMap="GasProductResult">
        <include refid="selectGasProductVo"/>
        where del_flag='0' and id = #{id}
    </select>

    <insert id="insertGasProduct" parameterType="com.example.gas.domain.GasProduct" useGeneratedKeys="true" keyProperty="id">
        insert into gas_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="stationId != null">station_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="stationId != null">#{stationId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateGasProduct" parameterType="com.example.gas.domain.GasProduct">
        update gas_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="stationId != null">station_id = #{stationId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGasProductById" parameterType="long">
        update gas_product set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteGasProductByIds" parameterType="long">
        update gas_product set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>